<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Homepage admin</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <div class="verticalAlignAdminHome">
            <h1 class="bienvenidaGrande">Benvingut Manel</h1><br>
            <a class="bienvenidaPequeña" href="/instructor/listRequests">
                <i class="icon-envelope-alt"></i> Tens <label th:text="${total}"></label> sol·licituds pendents
            </a>
        </div>
    </body>
</html>