<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Perfil monitor</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
    <body layout:fragment="content">
        <h1>Perfil monitor</h1><br>
        <table class="marginAuto">
            <tr>
                <td colspan="2" class="marginAuto">
                    <img class="profileFoto" id="perfil" th:src="@{*{instructor.photo}}">
                </td>
            </tr>
            <tr>
                <td colspan="2"><label class="inputLabel inputDoble">Nom Complet</label></td>
            </tr>
            <tr>
                <td colspan="2"><label class="input inputDoble inputText" type="text" th:text="${user.name}"></label></td>
            </tr>
            <tr>
                <td><label class="inputLabel inputPequeño">NIF</label></td>
                <td><label class="inputLabel inputPequeño">Correu</label></td>
            </tr>
            <tr>
                <td><label class="input inputPequeño inputText" type="text" th:text="${user.nif}"></label></td>
                <td><label class="input inputPequeño inputText" type="email" th:text="${user.mail}"></label></td>
            </tr>
            <tr>
                <td><label class="inputLabel inputPequeño">Residencia</label></td>
                <td><label class="inputLabel inputPequeño">Compte corrent</label></td>
            </tr>
            <tr>
                <td><label class="input inputPequeño inputText" type="text" th:text="${instructor.residence}"></label></td>
                <td><label class="input inputPequeño inputText" type="text" th:text="${instructor.accountNumber}"></label></td>
            </tr>
        </table>
        <table class="marginAuto">
            <tr>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.certifications)}">
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.certifications)}">
                    <br><b>Certificats</b><br>
                </td>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.activities)}">
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.activities)}">
                    <br><b>Activitats assignades</b><br>
                </td>
            </tr>
            <tr>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.certifications)}">
                    <br><b>No té cap certificat</b><br>
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.certifications)}">
                    <div class="requestCertificados">
                        <div th:each="certification: ${#lists.sort(instructor.certifications)}">
                            <table class="tdRequestTableActivity">
                                <tr>
                                    <td class="tdListCertificadosSolicitud" th:text="${certification.certificate}"></td>
                                    <td class="tdListCertificadosSolicitud tdRequestActivityLevel">
                                        <a th:href="@{*{certification.doc}}" target="_blank"><img width="32" height="32" th:src="@{/images/logoPDF.png}" /></a>
                                    </td>
                                </tr>
                            </table>
                            <hr />
                        </div>
                    </div>
                </td>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.activities)}">
                    <br><b>No té cap activitat assignada</b><br>
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.activities)}">
                    <div class="profileCertificados">
                        <div th:each="activityType: ${#lists.sort(instructor.activities)}">
                            <table class="tdProfileTableActivity">
                                <tr>
                                    <td class="tdProfileActivityName">
                                        <label th:text="${activityType.name}"></label>
                                    </td>
                                    <td class="tdProfileActivityLevel">
                                        <label th:text="${activityType.level}"></label>
                                    </td>
                                    <td>
                                        <form action="#" th:action="@{/admin/borrarAsignacion/{id}(id=${activityType.id})}" method="post">
                                            <input type="submit" class="btn btn-outline-purple botonBorrarAsignacion" value="Borrar asignació"/>
                                            <input type="text" th:field="${instructor.id}" hidden/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <hr/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><a th:href="@{/admin/delete/{id}(id=${user.id})}" class="btn btn-danger">Donar de baixa</a>
                </td>
                <td>
                    <br><br>
                    <a th:href="@{/admin/asignarActivitat/{id}(id=${user.id})}" class="btn btn-success">Assignar activitats</a>
                </td>
            </tr>
        </table>
        <div th:if="${instructorWithActivities} or ${instructorWithoutActivities}">
            <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 style="display: block;" aria-modal="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modalBotones">
                                <h5 th:if="${instructorWithActivities}" class="modalTituloBorrar">Aquest instructor té activitats pendents de realitzar</h5>
                                <h5 th:if="${instructorWithoutActivities}" class="modalTituloBorrar">Aquest monitor no té cap activitat pendent</h5>
                            </div>
                        </div>
                        <div class="modalBody">
                            <label th:if="${instructorWithActivities}">Vols cancelarles totes i donar-lo de baixa?</label>
                            <label th:if="${instructorWithoutActivities}">Estàs segur que vols donar-lo de baixa?</label>
                        </div>
                        <div class="modal-footer">
                            <div class="modalBotones">
                                <a th:href="@{/admin/confirmDeletion/{id}(id=${instructor.id})}" class="btn btn-success modalBotonSiNo">Si</a>
                                <a th:href="@{/admin/instructorProfile/{id}(id=${instructor.id})}" class="btn btn-danger modalBotonSiNo">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
        <div th:if="${borrarAsignacio}">
            <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" aria-modal="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modalBotones">
                                <h5 class="modalTituloBorrar">Es va a eliminar l'asignació</h5>
                            </div>
                        </div>
                        <div class="modalBody">
                            <label>Es cancelarán totes les activitats creades a partir d'aquesta assignació. Vols continuar?</label>
                        </div>
                        <div class="modal-footer">
                            <div class="modalBotones">
                                <form action="#" th:action="@{/admin/confirmarBorradoAsignacion/{id}(id=${activityBorrarAsignacio})}" method="post">
                                    <input type="submit" class="btn btn-success modalBotonSiNo" value="Si"/>
                                    <a th:href="@{/admin/instructorProfile/{idInstructor}(idInstructor=${instructor.id})}" class="btn btn-danger modalBotonSiNo">No</a>
                                    <input type="text" th:field="${instructor.id}" hidden/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
    </body>
</html>


