<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Llista de sol·licituds</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><h1>Llista de sol·licituds</h1><br>
        <div th:if="${#lists.isEmpty(instructors)}">
            No hi ha cap sol·licitud
        </div>
        <div th:unless="${#lists.isEmpty(instructors)}">
            <table class="table_bordered" th:each="instructor: ${#lists.sort(instructors)}">
                <tr>
                    <td class="tdListIzquierda tdListArriba tdListAbajo"><img class="profileFoto" th:src="@{*{instructor.photo}}"></td>
                    <td class="tdListArriba tdListAbajo tdListCentroDerechaIzquierda tdListTextoName"><b th:text="${instructor.name}"></b></td>
                    <td th:if="${#lists.isEmpty(instructor.certifications)}" class="tdListArriba tdListAbajo tdListCentroDerechaIzquierda tdListTexto tdSinCertificado">
                        <b>No té cap certificat</b>
                    </td>
                    <td th:unless="${#lists.isEmpty(instructor.certifications)}" class="tdListArriba tdListAbajo tdListCentroDerechaIzquierda tdListTexto">
                        <b>Certificats</b>
                        <div class="listCertificados">
                            <div th:each="certification: ${#lists.sort(instructor.certifications)}">
                                <label th:text="${certification.certificate}"></label>
                                <hr />
                            </div>
                        </div>
                    </td>
                    <td class="tdListArriba tdListAbajo tdListIzquierda tdListBotones">
                        <a th:href="@{/admin/instructorRequest/{id}(id=${instructor.id})}" class="btn btn-info listBoton">Sol·licitud</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>