<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Tipus de reserves</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Llista Reserves</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Data reserva</th>
        <th>Data activitat</th>
        <th>Nombre persones</th>
        <th>Preu per persona</th>
        <th>Preu total</th>
        <th>Nombre transaccio</th>
        <th>Activitat</th>
        <th>Client</th>
        <th>Estat</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation: ${reserves}">
        <td th:text="${reservation.bookingDate}"></td>
        <td th:text="${reservation.activityDate}"></td>
        <td th:text="${reservation.numberPeople}"></td>
        <td th:text="${reservation.pricePerPerson}"></td>
        <td th:text="${reservation.totalPrice}"></td>
        <td th:text="${reservation.transactionNumber}"></td>
        <td th:text="${reservation.idActivity}"></td>
        <td th:text="${reservation.idCustomer}"></td>
        <td th:text="${reservation.state}"></td>
        <td><a th:href="@{/reservation/update/{id}(id=${reservation.id})}">Edita</a>
        </td>
        <td><a th:href="@{/reservation/delete/{id}(id=${reservation.id})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix una reserva</a><br>
<a href="/">Tornar</a>
</body>
</html>