<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar activitat</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Editar reserva</h2>
<form action="#" th:action="@{/reservation/update/{id}(id=${reservation.id})}" th:object="${reservation}" method="post">
    <table>
        <tr>
            <td><label>Data activitat</label></td>
            <td><input type="text" th:field="*{activityDate}" /></td>
        </tr>
        <tr>
            <td><label>Descripció</label></td>
            <td><input type="number" th:field="*{pricePerPerson}" /></td>
        </tr>
        <tr>
            <td><label>Nombre de persones</label></td>
            <td><input type="number" th:field="*{numberPeople}" /></td>
        </tr>
        <tr>
            <td><label>Preu per persona</label></td>
            <td><input type="number" th:field="*{pricePerPerson}" /></td>
        <tr>
            <td><label>Nombre de transaccio</label></td>
            <td><input type="text" th:field="*{transactionNumber}" /></td>
        </tr>
        <tr>
            <td><label>Activitat</label></td>
            <td><input type="number" th:field="*{idActivity}" /></td>
        </tr>
        <tr>
            <td><label>Client</label></td>
            <td><input type="number" th:field="*{idCustomer}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar Reserva" /></td>
        </tr>
    </table>
    <a href="/reservation/list">Tornar</a>
</form>
</body>
</html>
