<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Nou tipus d'activitat</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><h1>Crear Tipus d'Activitat</h1><br>
        <form action="#" th:action="@{/activityType/add}" method="post" enctype="multipart/form-data">
            <table class="marginAuto">
                <tr>
                    <td><label class="inputLabel">Foto</label></td>
                </tr>
                <tr>
                    <td class="marginAuto">
                        <div class="activityFotoSpace activityFoto">
                            <img class="activityFoto" id="photo1" hidden/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="marginAuto">
                        <input type="file" accept="image/*" class="inputFoto" onChange="
                                        document.getElementById('photo1').src = window.URL.createObjectURL(this.files[0]);
                                        document.getElementById('photo1').hidden=false;" >
                    </td>
                </tr>
            </table>
            <br>
            <table class="marginAuto" th:object="${activityType}">
                <tr>
                    <td colspan="2">
                        <label class="inputLabel">Foto</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="fileArea">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="foto" name="foto">
                                <label class="inputAdjunto custom-file-label" for="foto" data-browse="Elegir">Tria una foto</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Nom</label></td>
                    <td><label class="inputLabel inputPequeño">Nivell</label></td>

                </tr>
                <tr>
                    <td><input type="text" class="input inputPequeño" th:errorclass="needCorrection" th:field="*{name}" maxlength="40"/></td>

                    <td>
                        <select class = "input inputPequeño"  th:errorclass="needCorrection" type = "text"  th:field = "*{level}"  >
                            <option value = "No seleccionat" ></option>
                            <option value = "Baix" > Baix </option>
                            <option value = "Mitja" > Mitja </option>
                            <option value = "Alt" > Alt </option>
                            <option value = "Extrem" > Extrem </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputLabel inputDoble">Descripció *</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="input inputDoble inputAlto" rows="2" cols="50" th:field="*{description}" maxlength="100"></textarea>
                    </td>
                </tr>
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Crear actividad" />
            <br><br><label class="inputLabel">* Camps no obligatoris</label>
        </form>
    </body>
</html>
