<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Gestionar Tipus d'Activitats</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br>
        <table class="marginAuto tableBotonAddLista">
            <tr>
                <td class="tdBotonAddLista"></td>
                <td><h1>Tipus d'Activitats</h1></td>
                <td class="tdBotonAddLista"><a href="add" class="btn btn-success" role="button">Crear Nou Tipus</a></td>
            </tr>
        </table>
        <br>
        <div th:if="${#lists.isEmpty(activityTypes)}">
            No ha sigut creat cap tipus d'activitat
        </div>
        <div th:unless="${#lists.isEmpty(activityTypes)}">
            <table class="table_bordered" th:each="activityType: ${#lists.sort(activityTypes)}">
                <tr>
                    <td rowspan="2" class="tdListIzquierda tdListArriba tdListAbajo">
                        <div class="activityFoto">
                            <img th:src="@{*{activityType.photo}}" class="activityFoto"/>
                        </div>
                    </td>
                    <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListText"><b th:text="${activityType.name}"></b></td>
                    <td class="tdListCentroAbajo tdListArriba tdListBotones">
                        <a th:href="@{/activityType/update/{id}(id=${activityType.id})}" class="btn btn-warning listBoton" role="button">Edita</a>
                    </td>
                </tr>
                <tr>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                        <b>Nivell: </b>
                        <label th:text="${activityType.level}"></label>
                    </td>
                    <td class="tdListCentroArriba tdListAbajo tdListBotones">
                        <a th:href="@{/activityType/delete/{id}(id=${activityType.id})}" class="btn btn-danger listBoton" role="button">Esborra</a>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </body>
</html>