<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Gestionar Tipus d'Activitats</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><h1>Llista de Tipus d'Activitats</h1><br>
        <table class="table_bordered" th:each="activityType: ${activityTypes}">
            <tr>
                <td rowspan="2" class="tdListFoto">
                    <div class="activityFoto">
                        <img th:src="@{*{activityType.photo}}" class="activityFoto"/>
                    </div>
                </td>
                <td class="tdListTexto"><b th:text="${activityType.name}"></b></td>
                <td class="tdListBotones">
                    <a th:href="@{/activityType/update/{id}(id=${activityType.id})}" class="btn btn-warning listBoton" role="button">Edita</a>
                </td>
            </tr>
            <tr>
                <td class="tdListTexto">
                    <b>Nivell: </b>
                    <label th:text="${activityType.level}"></label>
                </td>
                <td class="tdListBotones">
                    <a th:href="@{/activityType/delete/{id}(id=${activityType.id})}" class="btn btn-danger listBoton" role="button">Esborra</a>
                </td>
            </tr>
        </table>
        <br>
        <a href="add" class="btn btn-success" role="button">Afegir Tipus d'Activitat</a>
    </body>
</html>