<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Editar tipus activitat</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><br><h1>Editar la Descripció i la Foto</h1><br>
        <form action="#" th:action="@{/activityType/update/{id}(id=${activityType.id})}" method="post" enctype="multipart/form-data">
            <table class="marginAuto" th:object="${activityType}">
                <tr>
                    <td colspan="2">
                        <label class="inputLabel">Foto de perfil</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="marginAuto">
                        <img th:src="@{*{photo}}" class="activityFoto"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b><label class="inputLabel">Elige un nuevo archivo si quieres cambiar la imagen</label></b><br>
                        <input class="inputAdjunto" name="foto" type="file" accept="image/*">
                        <input th:field="*{photo}" hidden/>
                    </td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Nom</label></td>
                    <td><label class="inputLabel inputPequeño">Nivell</label></td>

                </tr>
                <tr>
                    <td>
                        <label class="input inputPequeño inputText" th:text="*{name}"></label>
                    </td>
                    <td>
                        <label class="input inputPequeño inputText" th:text="*{level}"></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputLabel inputDoble">Descripció *</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="input inputDoble inputAlto" rows="2" cols="50" th:field="*{description}" maxlength="100"></textarea>
                    </td>
                </tr>
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Editar actividad" />
            <br><br><label class="inputLabel">* Camps no obligatoris</label>
        </form>
    </body>
</html>