<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Editar tipus activitat</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><h1>Editar Tipus Activitat</h1><br>
        <form action="#" th:action="@{/activityType/update/{id}(id=${activityType.id})}" method="post" enctype="multipart/form-data">
            <table class="marginAuto" th:object="${activityType}">
                <tr>
                    <td><label class="inputLabel">Foto</label></td>
                </tr>
                <tr>
                    <td class="marginAuto">
                        <div class="activityFotoSpace activityFoto">
                            <img th:src="@{*{photo}}" class="activityFoto" id="photo1"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="marginAuto">
                        <input type="file" accept="image/*" class="inputFoto" id="foto" name="foto"
                               onChange="document.getElementById('photo1').src = window.URL.createObjectURL(this.files[0]);">
                    </td>
                </tr>
            </table>
            <br>
            <table class="marginAuto" th:object="${activityType}">
                <tr>
                    <td colspan="2"><label class="inputLabel inputDoble">Descripció (no obligatori)</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="input inputDoble inputAlto" rows="2" cols="50" th:field="*{description}"></textarea>
                    </td>
                </tr>
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Editar activitat" />
        </form>
    </body>
</html>