<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Sol·licitar registre</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><h1>Sol·licitar registre</h1><br>
        <form action="#" th:action="@{/instructor/add}" method="post" enctype="multipart/form-data">
            <table class="marginAuto">
                <tr>
                    <td colspan="2">
                        <label class="inputLabel">Foto de perfil</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input th:if="${errorFoto}" class="inputAdjunto needCorrection" name="foto" type="file" accept="image/*">
                        <input th:unless="${errorFoto}" class="inputAdjunto" type="file" accept="image/*" name="foto">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputLabel inputDoble">Nom Complet</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="input inputDoble" th:errorclass="needCorrection" type="text" th:field="${user.name}" maxlength="40"/></td>

                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">NIF</label></td>
                    <td><label class="inputLabel inputPequeño">Correo</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="text" th:field="${user.nif}" maxlength="12"/></td>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="email" th:field="${user.mail}" maxlength="40"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Residencia</label></td>
                    <td><label class="inputLabel inputPequeño">Compte corrent</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño" type="text" th:errorclass="needCorrection" th:field="${instructor.residence}" maxlength="40"/></td>
                    <td><input class="input inputPequeño" type="text" th:errorclass="needCorrection" th:field="${instructor.accountNumber}" min="0"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Nom d'usuari</label></td>
                    <td><label class="inputLabel inputPequeño">Contrasenya</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="text" th:field="${user.username}" maxlength="30"/></td>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="password" th:field="${user.passwd}" maxlength="50"/></td>
                </tr>
            </table>
            <br>
            <table class="marginAuto" th:object="${certificationNames}">
                <tr>
                    <td colspan="4"><label class="inputLabel">Certificats (mínim 1 i màxim 4)</label></td>
                </tr>
                <tr>
                    <td class="marginAuto">
                        <textarea th:field="*{certificate1}" class="areaInfoCertificate" th:errorclass="needCorrection" rows="4" cols="20" placeholder="Nom del certificat" maxlength="60"></textarea>
                    </td>
                    <td class="marginAuto">
                        <textarea th:field="*{certificate2}" class="areaInfoCertificate" th:errorclass="needCorrection" rows="4" cols="20" placeholder="Nom del certificat" maxlength="60"></textarea>
                    </td>
                    <td class="marginAuto">
                        <textarea th:field="*{certificate3}" class="areaInfoCertificate" th:errorclass="needCorrection" rows="4" cols="20" placeholder="Nom del certificat" maxlength="60"></textarea>
                    </td>
                    <td class="marginAuto">
                        <textarea th:field="*{certificate4}" class="areaInfoCertificate" th:errorclass="needCorrection" rows="4" cols="20" placeholder="Nom del certificat" maxlength="60"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input th:if="${errorCert}" class="inputAdjunto needCorrection" type="file" accept="application/pdf" name="cert" multiple>
                        <input th:unless="${errorCert}" class="inputAdjunto" type="file" accept="application/pdf" name="cert" multiple>
                    </td>
                </tr>
            </table>
            <br><input class="btn btn-success" type="submit" value="Enviar sol·licitud" />
        </form>
    </body>
</html>
