<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Sol·licitar registre</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>Sol·licitar registre</h1><br>
        <form action="#" th:action="@{/instructor/add}" method="post">
            <table class="marginAuto">
                <!--<tr>-->
                    <!--<td colspan="2"><label class="inputLabel">Foto de perfil</label></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td colspan="2" class="marginAuto">-->
                        <!--<img id="profileFoto" hidden/>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td colspan="2"  class="marginAuto">-->
                        <!--<input type="file" onchange="document.getElementById('profileFoto').src = window.URL.createObjectURL(this.files[0]); document.getElementById('profileFoto').hidden=false"-->
                               <!--accept="image/*" class="inputFoto">-->
                    <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td colspan="2"><label class="inputLabel inputGrande">Nom Complet</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="input inputGrande" type="text" th:field="${user.name}"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">NIF</label></td>
                    <td><label class="inputLabel inputPequeño">Correo</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño" type="text" th:field="${user.nif}"/></td>
                    <td><input class="input inputPequeño" type="email" th:field="${user.mail}"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Residencia</label></td>
                    <td><label class="inputLabel inputPequeño">Compte corrent</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño" type="text" th:field="${instructor.residence}"/></td>
                    <td><input class="input inputPequeño" type="text" th:field="${instructor.accountNumber}"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Nom d'usuari</label></td>
                    <td><label class="inputLabel inputPequeño">Contrasenya</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño" type="text" th:field="${user.username}"/></td>
                    <td><input class="input inputPequeño" type="password" th:field="${user.passwd}"/></td>
                </tr>
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Enviar sol·licitud" />
        </form>
    </body>
</html>