<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Assignar activitats</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>Assignar activitat a</h1><br>
        <h1 th:text="${user.name}"></h1><br><br><br>
        <form action="#" th:action="@{/instructor/asignarActivitat/{id}(id=${user.id})}" method="post">
            <table class="marginAuto">
                <tr>
                    <td class="tdAsignacio"><label>Certificats</label></td>
                    <td class="tdAsignacio"><label>Activitats</label></td>
                </tr>
                <tr>
                    <td class="tdAsignacio">
                        <select class="selectAsignacio"  th:field="${authorization.idCertification}">
                            <option value="0"></option>
                            <option th:each="certificate : ${certifications}" th:value="*{certificate.id}" th:text="*{certificate.certificate}"></option>
                        </select>
                    </td>
                    <td class="tdAsignacio">
                        <select class="selectAsignacio"  th:field="${authorization.activityType}">
                            <option value="0"></option>
                            <option th:each="activity : ${activities}" th:value="*{activity.id} " th:text="|*{activity.name} Nivell *{activity.level}|"></option>
                        </select>
                    </td>
                </tr>
            </table>
            <br><br>
            <input class="btn btn-success" type="submit" value="Assignar activitat" />
        </form>
    </body>
</html>


