<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Llista de sol·licituds</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>Llista de sol·licituds</h1><br>
        <div>
            <table class="table_bordered" th:each="instructor: ${instructors}">
                <tr>
                    <td class="tdListIzquierda tdListArriba tdListAbajo"><img class="profileFoto" th:src="@{*{instructor.photo}}"></td>
                    <td class="tdListArriba tdListAbajo tdListCentroDerechaIzquierda tdListTexto"><b th:text="${instructor.name}"></b></td>
                    <td class="tdListArriba tdListAbajo tdListCentroDerechaIzquierda tdListTexto">
                        <b>Certificats</b>
                        <div class="listCertificados">
                            <div th:each="certification: ${instructor.certifications}">
                                <label th:text="${certification.certificate}"></label>
                                <hr />
                            </div>
                        </div>
                    </td>
                    <td class="tdListArriba tdListAbajo tdListIzquierda tdListBotones">
                        <a th:href="@{/instructor/profile/{id}(id=${instructor.id})}" class="btn btn-info listBoton">Sol·licitud</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>