<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Llista de monitors</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>Llista de monitors</h1><br>
        <div>
            <table class="table_bordered" th:each="instructor: ${instructors}">
                <tr>
                    <td rowspan="2" class="tdListFoto"><img class="profileFoto" th:src="@{*{instructor.photo}}"></td>
                    <td rowspan="2" class="tdListTexto"><b th:text="${instructor.name}"></b></td>
                    <td rowspan="2" class="tdListTexto">
                        <table class="listCertificados">
                            <tr>
                                <td class="tdListCertificado"><b>Activitat</b></td>
                                <td class="tdListCertificado"><b>Nivell</b></td>
                            </tr>
                            <tr th:each="activityType: ${instructor.activities}">
                                <td class="tdListCertificado">
                                    <label th:text="${activityType.name}"></label>
                                </td>
                                <td class="tdListCertificado">
                                    <label th:text="${activityType.level}"></label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tdListBotones">
                        <a th:href="@{/instructor/profile/{id}(id=${instructor.id})}" class="btn btn-info listBoton">Veure perfil</a>
                    </td>
                </tr>
                <tr>
                    <td class="tdListBotones">
                        <a th:href="@{/instructor/delete/{id}(id=${instructor.id})}" class="btn btn-danger listBoton">Donar de baixa</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>