<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Activitats</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
    <body layout:fragment="content">
        <br>
        <table class="marginAuto tableBotonAddLista">
            <tr>
                <td class="tdBotonAddLista"></td>
                <td><h1>Llista d'activitats</h1></td>
                <td class="tdBotonAddLista"><a href="add" class="btn btn-success" role="button">Crear Activitat</a></td>
            </tr>
        </table>
        <br>
        <table class="table_bordered" th:each="activity: ${activities}">
            <tr>
                <td rowspan="4" class="tdListIzquierda tdListArriba tdListAbajo">
                    <div class="activityFoto">
                        <img th:src="@{*{activity.photoPrincipal}}" class="activityFoto"/>
                    </div>
                </td>
                <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName"><b th:text="${activity.name}"></b></td>
                <td class="tdListCentroAbajo tdListArriba tdListBotones">
                    <a th:href="@{/activity/update/{id}(id=${activity.id})}" class="btn btn-warning listBoton" >Editar</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${activity.place}"></label>
                </td>
                <td class="tdListCentroArribaAbajo tdListBotones">
                    <a th:href="@{/activity/listReservations/{id}(id=${activity.id})}" class="btn btn-info listBoton" role="button">Reserves</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${#temporals.format(activity.dates, 'dd MMMM YYYY')}"></label>
                </td>
                <td class="tdListCentroArribaAbajo tdListBotones">
                    <a th:href="@{/activity/close/{id}(id=${activity.id})}" class="btn btn-success listBoton" role="button">Tancar</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                    <label th:text="${activity.ocupation}"></label>
                    <label> %</label>
                </td>
                <td class="tdListCentroArriba tdListAbajo tdListBotones">
                    <a th:href="@{/activity/cancel/{id}(id=${activity.id})}" class="btn btn-danger listBoton" role="button">Esborrar</a>
                </td>
            </tr>
        </table>
        <br>
    </body>
</html>