<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Instructors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Llista d'Instructors</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Nif</th>
        <th>Mail</th>
        <th>Residencia</th>
        <th>Numero de compte bancari</th>
        <th>Data de registre</th>
        <th>Username</th>
        <th>Estat</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="instructor: ${instructors}">
        <td th:text="${instructor.name}"></td>
        <td th:text="${instructor.nif}"></td>
        <td th:text="${instructor.mail}"></td>
        <td th:text="${instructor.residence}"></td>
        <td th:text="${instructor.accountNumber}"></td>
        <td th:text="${instructor.registerDate}"></td>
        <td th:text="${instructor.username}"></td>
        <td th:text="${instructor.state}"></td>
        <td><a th:href="@{/instructor/update/{id}(id=${instructor.id})}">Edita</a>
        </td>
        <td><a th:href="@{/instructor/delete/{id}(id=${instructor.id})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix un instructor</a><br>
<a href="/">Tornar</a>
</body>
</html>