<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Perfil monitor</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
    <body layout:fragment="content">
        <h1>Perfil monitor</h1><br>
        <table class="marginAuto">
            <tr>
                <td colspan="2" class="marginAuto">
                    <img class="profileFoto" id="perfil" th:src="@{*{instructor.photo}}">
                </td>
            </tr>
            <tr>
                <td colspan="2"><label class="inputLabel inputDoble">Nom Complet</label></td>
            </tr>
            <tr>
                <td colspan="2"><label class="input inputDoble inputText" type="text" th:text="${user.name}"></label></td>
            </tr>
            <tr>
                <td><label class="inputLabel inputPequeño">NIF</label></td>
                <td><label class="inputLabel inputPequeño">Correu</label></td>
            </tr>
            <tr>
                <td><label class="input inputPequeño inputText" type="text" th:text="${user.nif}"></label></td>
                <td><label class="input inputPequeño inputText" type="email" th:text="${user.mail}"></label></td>
            </tr>
            <tr>
                <td><label class="inputLabel inputPequeño">Residencia</label></td>
                <td></td>
            </tr>
            <tr>
                <td><label class="input inputPequeño inputText" type="text" th:text="${instructor.residence}"></label></td>
                <td><a th:href="@{/instructor/showActivities/opened/{id}(id=${user.id})}" class="btn btn-info input">Veure activitats</a></td>
            </tr>
        </table>
        <table class="marginAuto">
            <tr>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.certifications)}">
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.certifications)}">
                    <br><b>Certificats</b><br>
                </td>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.activities)}">
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.activities)}">
                    <br><b>Activitats assignades</b><br>
                </td>
            </tr>
            <tr>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.certifications)}">
                    <br><b>No té cap certificat</b><br>
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.certifications)}">
                    <div class="requestCertificados">
                        <div th:each="certification: ${#lists.sort(instructor.certifications)}">
                            <table class="tdRequestTableActivity">
                                <tr>
                                    <td class="tdListCertificadosSolicitud" th:text="${certification.certificate}"></td>
                                    <td class="tdListCertificadosSolicitud tdRequestActivityLevel">
                                        <a th:href="@{*{certification.doc}}" target="_blank"><img width="32" height="32" th:src="@{/images/logoPDF.png}" /></a>
                                    </td>
                                </tr>
                            </table>
                            <hr />
                        </div>
                    </div>
                </td>
                <td class="tdGrupos" th:if="${#lists.isEmpty(instructor.activities)}">
                    <br><b>No té cap activitat assignada</b><br>
                </td>
                <td class="tdGrupos" th:unless="${#lists.isEmpty(instructor.activities)}">
                    <div class="profileCertificados">
                        <div th:each="activityType: ${#lists.sort(instructor.activities)}">
                            <table class="tdProfileTableActivity">
                                <tr>
                                    <td>
                                        <label th:text="${activityType.name}"></label>
                                    </td>
                                    <td class="tdProfileActivityLevel">
                                        <label th:text="${activityType.level}"></label>
                                    </td>
                                </tr>
                            </table>
                            <hr/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </body>
</html>


