<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Activitats</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
    <body layout:fragment="content">
        <br>
        <table class="marginAuto">
            <tr>
                <td><a th:href="@{/instructor/showActivities/opened/{id}(id=${user.id})}" class="btn btn-outline-success botonListaActividades" role="button">Activitats obertes</a></td>
                <td><a th:href="@{/instructor/showActivities/closed/{id}(id=${user.id})}" class="btn btn-outline-info botonListaActividades" role="button">Activitats tancades</a></td>
                <td><a th:href="@{/instructor/showActivities/done/{id}(id=${user.id})}" class="btn btn-outline-secondary botonListaActividades" role="button">Activitats realitzades</a></td>
            </tr>
        </table>
        <br>
        <table class="marginAuto tableBotonAddLista">
            <tr>
                <td class="tdBotonAddLista"></td>
                <td>
                    <h1>
                        Llista d'activitats
                        <label th:if="${estat} == opened"> obertes </label>
                        <label th:if="${estat} == closed"> tancades </label>
                        <label th:if="${estat} == done"> realitzades</label>
                        del monitor
                    </h1><br>
                    <h3 th:text="${user.name}"></h3>
                </td>
                <td class="tdBotonAddLista"><a th:href="@{/instructor/profile/{id}(id=${user.id})}" class="btn btn-warning" role="button">Perfil</a></td>
            </tr>
        </table>
        <br>
        <table class="table_bordered" th:each="activity: ${activities}">
            <tr>
                <td rowspan="4" class="tdListIzquierda tdListArriba tdListAbajo">
                    <div class="activityFoto">
                        <img th:src="@{*{activity.photoPrincipal}}" class="activityFoto"/>
                    </div>
                </td>
                <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName"><b th:text="${activity.name}"></b></td>
                <td th:if="${estat} == opened"></td>
                <td th:unless="${estat} == opened" rowspan="4" class="tdListArriba tdListAbajo tdListCentroIzquierda tdListBotones">
                    <a th:href="@{/activity/view/{id}(id=${activity.id})}" class="btn btn-info listBoton" role="button">+ info</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${activity.place}"></label>
                </td>
                <td th:if="${estat} == opened" class="tdListCentroAbajo tdListAbajo tdListBotones">
                    <a th:href="@{/activity/book/{id}(id=${activity.id})}" class="btn btn-success listBoton" >Reservar</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${#temporals.format(activity.dates, 'dd MMMM YYYY')}"></label>
                </td>
                <td th:if="${estat} == opened" class="tdListCentroArriba tdListArriba tdListBotones">
                    <a th:href="@{/activity/view/{id}(id=${activity.id})}" class="btn btn-info listBoton" role="button">+ info</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                    <label th:text="${activity.ocupation}"></label>
                    <label> %</label>
                </td>
                <td th:if="${estat} == opened"></td>
            </tr>
        </table>
        <br>
    </body>
</html>