<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Detall sol·licitud</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
    <body layout:fragment="content">
    <h1>Detall sol·licitud</h1><br>
        <form action="#" th:action="@{/instructor/solicitud/{id}(id=${user.id})}" method="post">
            <table class="marginAuto">
                <tr>
                    <td><label class="inputLabel inputPequeño">Foto perfil</label></td>
                </tr>
                <tr>
                    <td class="marginAuto">
                        <img class="profileFoto" id="perfil" th:src="@{/images/willirex.jpg}">
                    </td>
                </tr>
                <tr>

                    <td><label class="inputLabel inputPequeño">Nom Complet</label></td>
                </tr>
                <tr>
                    <td colspan="2"><label class="input inputDoble" type="text" th:text="${user.name}"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Correu</label></td>
                    <td><label class="inputLabel inputPequeño">NIF</label></td>
                </tr>
                <tr>
                    <td><label class="input inputPequeño" type="email" th:text="${user.mail}"></label></td>
                    <td><label class="input inputPequeño" type="text" th:text="${user.nif}"/></td>

                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Número conte</label></td>
                    <td><label class="inputLabel inputPequeño">Direcció</label></td>
                </tr>
                <tr>
                    <td><label class="input inputPequeño" type="text" th:text="${instructor.accountNumber}"/></td>
                    <td><label class="input inputPequeño" type="text" th:text="${instructor.residence}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputLabelGrande inputPequeño" >Certificats</label></td>
                </tr>
            </table>
            <br>
            <input colspan="2" class="btn btn-success" type="submit" value="Acceptar" />
            <input th:href="@{/instructor/delete/{id}(id=${user.id})}" colspan="2" class="btn btn-danger" type="submit" value="Rebutjar" />
        </form>
    </body>
</html>


