<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Modificar perfil</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br><h1>Modificar perfil</h1><br>
        <form action="#" th:action="@{/instructor/update}" method="post">
            <table class="marginAuto">
                <!--<tr>-->
                <!--<td colspan="2"><label class="inputLabel">Foto de perfil</label></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td colspan="2" class="marginAuto">-->
                <!--<img class="profileFoto" id="photo" hidden/>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td colspan="2"  class="marginAuto">-->
                <!--<input type="file" onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0]); document.getElementById('photo').hidden=false"-->
                <!--accept="image/*" class="inputFoto">-->
                <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td colspan="2"><label class="inputLabel inputDoble">Nom Complet</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="input inputDoble" type="text" th:field="${user.name}"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">NIF</label></td>
                    <td><label class="inputLabel inputPequeño">Correo</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño" type="text" th:field="${user.nif}"/></td>
                    <td><input class="input inputPequeño" type="email" th:field="${user.mail}"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Residencia</label></td>
                    <td><label class="inputLabel inputPequeño">Compte corrent</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño" type="text" th:field="${instructor.residence}"/></td>
                    <td><input class="input inputPequeño" type="text" th:field="${instructor.accountNumber}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><label class="inputLabel inputPequeño">Nom d'usuari</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="input inputPequeño" type="text" th:field="${user.username}"/></td>
                </tr>
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Modificar perfil" />
        </form>
    </body>
</html>