<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Activitats</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
    <body layout:fragment="content">
        <h1>Llista d'activitats</h1>

        <div th:each="activity: ${activities}" > <!--Utilitzar activitats -->
            <table class="input">
                <td>
                    <tr><img class="activityFoto" id="perfil" th:src="@{/images/morella.jpg}"></tr>
                </td>
                <td>
                    <tr><label class="tableBold inputPequeño">Nom activitat</label></tr>
                    <tr><label class="input inputPequeño" type="text" th:text="${activity.name}"></label></tr>
                    <tr><label class="input inputPequeño" type="text" th:text="${activity.meetingPoint}"></label></tr>
                    <tr><label class="input inputPequeño" type="text" th:text="${activity.dates}"></label></tr>
                    <tr><label class="input inputPequeño" type="text" th:text="${activity.state}"></label></tr>
                </td>
                <td>
                    <tr><a th:href="@{/activity/add}" class="btn btn-success">Veure activitat</a></tr>
                    <tr><a th:href="@{/reservation/list}" class="btn btn-primary">Veure reserves</a></tr>
                    <tr><a th:href="@{/activity/delete}" class="btn btn-danger">Cancel·lar</a></tr>
                    <tr><a th:href="@{/activity/add}" class="btn btn-warning">Tancar</a></tr>
                </td>
            </table>
        </div>
    <a href="/">Tornar</a>
    </body>
</html>