<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Veure Reserves</title>
        <meta charset="UTF-8" />
    </head>
    <body layout:fragment="content">
        <br><h1>Reserves de l'activitat</h1>
        <table class="table_bordered" th:each="reserve: ${reserves}">
            <tr>
                <td rowspan="2" class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName"><b th:text="${reserve.nameCustomer}"></b></td>
                <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName">
                    <b>Adults: </b>
                </td>
                <td>
                    <label th:text="${reserve.numAdults}"></label>
                </td>
                <td rowspan="2" class="tdListCentroArriba tdListTexto">
                    <b>Preu total: </b>
                    <label th:text="${reserve.totalPrice}"></label>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName">
                    <b>Menors de 16 anys: </b>
                </td>
                <td>
                    <label th:text="${reserve.numUnder16}"></label>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="tdListCentroArriba tdListTexto">
                    <label th:text="${reserve.bookingDate}"></label>
                </td>
                <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName">
                    <b>Estudiants: </b>
                </td>
                <td>
                    <label th:text="${reserve.numStudents}"></label>
                </td>
                <td rowspan="2" class="tdListCentroArriba tdListTexto">
                    <b>Estat: </b>
                    <label th:text="${reserve.state}"></label>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName">
                    <b>Majors de 60 anys: </b>
                </td>
                <td>
                    <label th:text="${reserve.numOver60}"></label>
                </td>
            </tr>
        </table>

    </body>
</html>