<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Veure Reserves</title>
        <meta charset="UTF-8" />
    </head>
    <body layout:fragment="content">
        <br><h1>Reserves de l'activitat</h1><br>
        <div th:if="${#lists.isEmpty(reserves)}">
            No hi ha cap reserva en l'activitat
        </div>
        <div th:unless="${#lists.isEmpty(reserves)}">
            <table class="table_bordered" th:each="reserve: ${#lists.sort(reserves)}">
                <tr>
                    <td class="tdListCentroAbajo tdListIzquierda tdListArriba tdListTextoName">
                        <b th:text="${reserve.nameCustomer}"></b>
                    </td>
                    <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListNombreTarifaCurt">
                        <b>Adults: </b>
                    </td>
                    <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListPrecioTarifa">
                        <label class="margin0" th:text="${reserve.numAdults}"></label>
                    </td>
                    <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListNombreTarifaLlarg">
                        <b>Menors de 16 anys: </b>
                    </td>
                    <td class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListPrecioTarifa">
                        <label class="margin0"th:text="${reserve.numUnder16}"></label>
                    </td>
                    <td class="tdListCentroAbajo tdListBotones tdListArriba tdListTextoPrice">
                        <b>Preu total: </b>
                        <label class="margin0" th:text="${reserve.totalPrice}"></label>
                        <label class="margin0"> €</label>
                    </td>
                </tr>
                <tr>
                    <td class="tdListCentroArriba tdListIzquierda tdListAbajo tdListTextoFecha">
                        <b>Data de reserva: </b>
                        <label class="margin0" th:text="${#temporals.format(reserve.bookingDate, 'dd MMMM YYYY')}"></label>
                    </td>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListNombreTarifaCurt">
                        <b>Estudiants: </b>
                    </td>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListPrecioTarifa">
                        <label class="margin0" th:text="${reserve.numStudents}"></label>
                    </td>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListNombreTarifaCurt">
                        <b>Majors de 60 anys: </b>
                    </td>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListPrecioTarifa">
                        <label class="margin0" th:text="${reserve.numOver60}"></label>
                    </td>
                    <td class="tdListCentroArriba tdListBotones tdListAbajo">
                        <b>Estat: </b>
                        <label class="margin0" th:text="${reserve.state}"></label>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>