<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Oferta Activitats</title>
        <meta charset="UTF-8" />
    </head>
    <body layout:fragment="content">
        <div class="filtroArea">
            <form action="#" th:object="${filtroYorden}" th:action="@{/activity/offer}" method="post">
                <table>
                    <tr>
                        <td colspan="2">
                            Filtrar
                        </td>
                        <td>
                            Ordenar
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <select id="filtroSelect" th:field="*{filtroCriteri}" class="filtro">
                                <option value="all">Totes</option>
                                <option value="name">Per nom</option>
                                <option value="place">Per lloc</option>
                                <option value="type">Per tipus</option>
                                <option value="level">Per nivell</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="filtroInput" th:field="*{filtroPatro}" class="filtro"/>
                        </td>
                        <td>
                            <select id="ordenSelect" th:field="*{ordenCriteri}" class="filtro">
                                <option value="name">Per nom</option>
                                <option value="place">Per lloc</option>
                                <option value="dates">Per data</option>
                                <option value="type">Per tipus</option>
                                <option value="level">Per nivell</option>
                            </select>
                        </td>
                        <td>
                            <input class="btn btn-secondary botonFiltro" type="submit" value="Filtrar i ordenar"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div th:if="${#lists.isEmpty(activities)}">
            No hi ha cap activitat disponible
        </div>
        <table th:unless="${#lists.isEmpty(activities)}" class="table_bordered" th:each="activity: ${#lists.sort(activities, comparator)}">
            <tr>
                <td rowspan="4" class="tdListIzquierda tdListArriba tdListAbajo">
                    <div>
                        <div th:unless="*{activity.totalImages} == 1" id="miCarrusel" class="carousel carouselList slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li th:each="imatge,iterstat: ${imatges}"
                                    data-target="#miCarrusel"
                                    th:attr="data-slide-to=${iterstat.index}"
                                    th:class="${iterstat.index}== 0  ? 'active':''"></li>

                            </ol>
                            <div class="carousel-inner">
                                <div th:each="imatge,iterstat: *{activity.images}"
                                     th:class="${iterstat.index}==0 ? 'carousel-item active':'carousel-item'">
                                    <img th:src="@{${imatge.photo}}" class="activityFoto">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#miCarrusel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#miCarrusel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <img th:if="*{activity.totalImages} == 1" th:src="@{*{activity.photoPrincipal}}" class="activityFoto">
                    </div>
                </td>
                <td colspan="2" class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName"><b th:text="${activity.name}"></b></td>
                <td rowspan="4" class="tdListArriba tdListAbajo tdListBotones tdListIzquierda">
                    <table>
                        <tr><td class="tdListCentroArribaAbajo"><a th:href="@{/activity/book/{id}(id=${activity.id})}" class="btn btn-success listBoton" >Reservar</a></td></tr>
                        <tr><td class="tdListCentroArribaAbajo"><a th:href="@{/activity/view/{id}(id=${activity.id})}" class="btn btn-info listBoton" role="button">+ info</a></td></tr>
                        <tr><td class="tdListCentroArribaAbajo"><a th:href="@{/instructor/profile/{id}(id=${activity.idInstructor})}" class="btn btn-warning listBoton" role="button">Perfil monitor</a></td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${activity.place}"></label>
                </td>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${#temporals.format(activity.dates, 'dd MMMM YYYY')}"></label>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${activity.activityTypeName}"></label>
                </td>
                <td class="tdListCentroArriba tdListTexto">
                    <label>Nivell </label>
                    <label th:text="${activity.activityTypeLevel}"></label>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                    <b>Ocupació: </b>
                    <label th:text="${activity.ocupation}"></label>
                    <label> %</label>
                </td>
                <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                    <b>Preu base: </b>
                    <label th:text="${activity.pricePerPerson}"></label>
                    <label> €</label>
                </td>
            </tr>
        </table>
    </body>
</html>