<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Veure Activitat</title>
        <meta charset="UTF-8" />
    </head>
    <body layout:fragment="content">
    <br><br>

    <table class="marginAuto">
        <tr>
            <td rowspan="3" class="tdFotoActividad">
                <img th:src="@{*{activity.photoPrincipal}}" class="activityFoto">
            </td>
            <td class="tdNombreActividad">
                <h1 class="actividadNameReserva" th:text="${activity.name}"></h1>
            </td>
        </tr>
        <tr>
            <td>
                <div class="divViewActivity">
                    <label class="inputLabel inputPequeño paddingLeft5"><b>Descripció</b></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="divViewActivity">
                    <label class="input inputPequeño inputText inputAlto" th:text="${activity.description}"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="inputLabel inputPequeño"><b>Lloc</b></label>
            </td>
            <td>
                <div class="divViewActivity">
                    <label class="inputLabel inputPequeño paddingLeft5"><b>Data</b></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="input inputPequeño inputText" th:text="${activity.place}"></label>
            </td>
            <td>
                <div class="divViewActivity">
                    <label class="input inputPequeño inputText" th:text="${#temporals.format(activity.dates, 'dd MMMM YYYY')}"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="inputLabel inputPequeño"><b>Lloc de quedada</b></label>
            </td>
            <td>
                <div class="divViewActivity">
                    <label class="inputLabel inputPequeño paddingLeft5"><b>Hora de quedada</b></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="input inputPequeño inputText" th:text="${activity.meetingPoint}"></label>
            </td>
            <td>
                <div class="divViewActivity">
                    <label class="input inputPequeño inputText" th:text="${activity.meetingTime}"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br>
                <div class="divViewActivityBig">
                    <table class="tablaTarifasActividad marginAuto">
                        <tr>
                            <td class="tdPaddingLeftRight tdPaddingTop"><b>Tarifa</b></td>
                            <td class="tdPaddingLeftRight tdPaddingTop"><b>Preu per persona</b></td>
                        </tr>
                        <tr class="tdPaddingLeftRight">
                            <td class="tdPaddingLeftRight">Adults</td>
                            <td class="tdPaddingLeftRight" th:text="${activity.pricePerPerson}"></td>
                        </tr>
                        <tr class="tdPaddingLeftRight" th:each="rate: ${rates}">
                            <td class="tdPaddingLeftRight" th:text="${rate.rateName}"></td>
                            <td class="tdPaddingLeftRight" th:text="${rate.price}"></td>
                        </tr>
                        <tr>
                            <td class="tdPaddingBottom"></td>
                            <td class="tdPaddingBottom"></td>
                        </tr>
                    </table>
                </div>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/activity/book/{id}(id=${activity.id})}" class="btn btn-success">Reservar</a>
            </td>
            <td>
                <div class="divViewActivity">
                    <a th:href="@{/instructor/profile/{id}(id=${activity.idInstructor})}" class="btn btn-warning">Veure monitor</a>
                </div>
            </td>
        </tr>
    </table>

    </body>
</html>