<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Instructors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body layout:fragment="content">
<h1>Llista de sol·licituds</h1>

<div th:each="user: ${users}" >
    <table class="input">


        <tr>
            <td class="tableBold" th:text="${user.name}"></td>
            <td class="tableBold">Certificats</td>
            <td>        </td>
        </tr>

        <tr>

            <td><img class="profileFoto" id="perfil" th:src="@{/images/willirex.jpg}"></td>
            <td>Llistat de certificats</td>
            <td><a th:href="@{/instructor/profile/{id}(id=${user.id})}" class="btn btn-info">Veure perfil</a></td>

        </tr>

        <!--<Llistar certificats"></td>-->
    </table>
</div>
<a href="/">Tornar</a>
</body>
</html>