<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        />

        <!-- app css  -->
        <link th:href="@{/css/style.css}" href="/css/style.css"
              rel="stylesheet"/>

        <!-- font OpenSans -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <title layout:title-pattern="$CONTENT_TITLE">TooPots</title>
    </head>

    <body class="container-fluid body">
        <header class="header">
            <img id="logo" th:src="@{/images/logo.png}">
            <h1 id="toopots">TooPots</h1>
            <!--<div th:replace="fragments/logininfo"></div>-->
        </header>
        <div th:replace="fragments/nav"></div>
        <table class="navTable">
            <tr>
                <td id="celdaMenu">
                    <div th:replace="fragments/menuCustomer"></div>
                </td>
                <td id="celdaContenido">

                    <div layout:fragment="content"></div>
                </td>
            </tr>
        </table>
        <footer>
            <hr>
            <p class="text-muted center">2019 - All rights reserved to Manuel Vermell</p>
        </footer>
    </body>
</html>
