<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>EI1027</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <ul class="navbar-nav">
            <li class="enlaceMenu">
                <a class="black" th:href="@{/}">Inici</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/activity/offer}">Oferta activitats</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" href="#">Tipus d'activitats ofertades</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/customer/listReservations}">Llista de reserves</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/customer/update}">Modificar perfil</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/user/updatePasswd}">Modificar contrasenya</a>
            </li>
        </ul>
    </body>
</html>