<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>EI1027</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <ul class="navbar-nav" th:object="${session}">
            <li class="enlaceMenu">
                <a class="black" th:href="@{/}">Inici</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/activity/add}">Crear activitat</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/instructor/listActivities/opened}">Gestió activitats</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/instructor/update}">Modificar perfil</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/user/updatePasswd}">Modificar contrasenya</a>
            </li>
        </ul>
    </body>
</html>