<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse collapse">
                <table class="center navTable">
                    <tr>
                        <td class="navbar5">
                            <a class="white" th:href="@{/activity/offer}">Oferta d'activitats</a>
                        </td>
                        <td class="navbar5">
                            <a class="white" th:href="@{/customer/listSubscriptions}">Subscripcions</a>
                        </td>
                        <td class="navbar5">
                            <a class="white" th:href="@{/customer/listReservations}">Llista de reserves</a>
                        </td>
                        <td class="navbar5">
                            <a class="white" th:href="@{/customer/update}">Modificar perfil</a>
                        </td>
                        <td class="navbar5">
                            <a class="white" th:href="@{/user/updatePasswd}">Modificar contrasenya</a>
                        </td>
                    </tr>
                </table>
            </div>
        </nav>
    </body>
</html>