<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>EI1027</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <ul class="navbar-nav">
            <li class="enlaceMenu">
                <a class="black" href="#">Inici</a>
            </li>
            <li class="enlaceMenu">
                <a class="black" href="#">Sol·licituds pendents</a>
            </li>
            <li class="enlaceMenu">
                <a class="black" href="#">Llista de monitors</a>
            </li>
            <li class="enlaceMenu">
                <a class="black" href="#">Tipus d'activitats</a>
            </li>
            <li class="enlaceMenu">
                <a class="black" href="#">Estadístiques</a>
            </li>
        </ul>
    </body>
</html>