<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>EI1027</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <ul class="navbar-nav">
            <li class="enlaceMenu">
                <a class="black" th:href="@{/admin/home}">Inici</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/admin/listRequests}">Sol·licituds pendents</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/admin/listInstructors}">Llista de monitors</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" th:href="@{/activityType/list}">Tipus d'activitats</a>
                <hr/>
            </li>
            <li class="enlaceMenu">
                <a class="black" href="#">Estadístiques</a>
            </li>
        </ul>
    </body>
</html>