/*Fondo*/
.body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center
}

/*Header*/
#tableHeader{
    width: 100%;
}
.tdLados {
    width: 400px;
}


/*Footer*/
footer {
    text-align: center;
}

/*Logo*/
#logo {
    width: 90px;
    height: 90px;
    float: left;
    left: 5px;
}

/*Titulo TooPots*/
#toopots, #toopots:hover {
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}

/*Info usuario conectado*/
.loggeduser {
     text-align: center;
     color: gray;
     float: right;
     right: 5px;
}

.iconoLog, .iconoLog:hover {
    color: black;
    text-decoration: none;
}

/*Centrar*/
.center {
    text-align: center;
}

/*Pie de pagina*/
footer {
    position: relative;
    bottom: 0;
}

/*Navigation bar*/
.navTable {
    width: 100%;
}
.navbar {
    background-color: #2D8E0B;
    border: 1px black solid;
}

/*Color blanco*/
.white, .white:hover  {
    color: white;
}

/*Color negro*/
.black, .black:hover {
    color: black;
}

/*Menu*/
.menu {
    vertical-align: top;
    padding: 30px;
    width: 22.5%;
    background-color: #CCCCCC;
    border: 1px black solid;
}
.enlaceMenu {
    padding: 40px 0px;
    color: black;
    text-align: center;
}
#contentTable {
    width: 100%;
    height: 700px;
}

/*Login*/
#loginTitle {
    font-size: 40px;
    font-weight: bold;
}
#loginArea {
    background-color: #E0E8A0;
    border: 1px black solid;
    width: 500px;
    margin: auto;
}
#loginTable {
    margin: auto;
}
.loginInput {
    padding: 0px 10px;
    background-color: #E1E5AC;
}
.otherLogin, .otherLogin:hover {
    padding: 0px 50px;
    font-size: 15px;
    color: black;
}

/*Padding at right*/
.paddingRight {
    padding-right: 40px;
}

/*Padding at left*/
.paddingLeft {
    padding-left: 20px;
}

/*Table centered*/
.marginAuto {
    margin: auto;
}

/*Formularios*/
.input {
    height: 40px;
    background-color: #EEEEEE;
    margin: 0px 15px 20px 15px;
    border-style: solid;
    border: 0.5px solid black;
    padding: 0px 10px;
    font-size: 16px;
}
.inputLabel {
    text-align: left;
    font-size: 16px;
}
.inputLabelGrande {
    text-align: center;
    font-size: 32px;
}
.inputPequeño {
    width: 250px;
    text-align: left;
}
.inputDoble {
    width: 540px;
    text-align: left;
}
.inputTriple {
    width: 830px;
}
.inputAlto {
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputFoto {
    margin: 0px 40px 20px 40px;
    font-size: 16px;
    text-align: center;
    width: 163px;
}
.inputText {
    padding-top: 5px;
}
/*Foto instructor*/
.profileFoto {
    width: 150px;
    height: 150px;
}
.profileFotoSpace {
    border: 1px black solid;
    margin: 0px 0px 5px 43px;
}
/*Fotos actividades*/
.activityFoto {
    width: 250px;
    height: 150px;
}
.activityFotoSpace {
    border: 1px black solid;
    margin: 0px 14px 5px 10px;
}

/*Tarifas*/
.labelTarifa {
    position: relative;
    float: right;
    margin-right: 20px;
}
.inputTarifa {
    width: 80px;
    margin: 0px;
    margin-bottom: 5px;
}

/*Listas*/
.table_bordered {
    margin: auto;
    border: 1px black solid;
    margin-bottom: 20px;
}
.tdListArriba {
    padding-top: 20px;
}
.tdListAbajo {
    padding-bottom: 20px;
}
.tdListIzquierda {
    padding-left: 20px;
}
.tdListBotones {
    padding-right: 20px;
}
.tdListTexto {
    width: 200px;
}
.tdListCentroArribaAbajo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tdListCentroArriba {
    padding-top: 10px;
}
.tdListCentroAbajo {
    padding-bottom: 10px;
}
.tdListCentroIzquierda {
    padding-left: 10px;
}
.tdListCentroDerecha {
    padding-right: 10px;
}
.tdListCentroDerechaIzquierda {
    padding-left: 10px;
    padding-right: 10px;
}
.listBoton {
    width: 150px;
}
.listCertificados {
    width: 300px;
    margin-top: 20px;
    overflow:scroll;
    height:150px;
}
.tdListActivityLevel {
    width: 100px;
}
.tdListTableActivity {
    width: 270px;
}

/*Profile*/
.tdGrupos {
    padding: 0px 30px;
}
.profileCertificados {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    overflow:scroll;
}
.tdProfileTableActivity {
    width: 320px;
}
.tdProfileActivityLevel {
    width: 90px;
}
/*Request*/
.requestCertificados {
    width: 500px;
    height: 200px;
    margin-top: 20px;
    overflow:scroll;
}
.tdRequestTableActivity {
    width: 470px;
}
.tdRequestActivityLevel {
    width: 70px;
}

/*Assignar activitat*/
.tdAsignacio {
    width: 400px;
    font-size: 25px;
}
.selectAsignacio {
    width: 380px;
    height: 40px;
    background-color: #EEEEEE;
}

/*Homepage Admina*/
.bienvenidaGrande {
    font-weight: bold;
    font-size: 60px;
}
.bienvenidaPequeña {
    font-weight: bold;
    font-size: 50px;
    color: red;
    text-decoration: none;
}
.bienvenidaPequeña:hover {
    color: red;
    text-decoration: none;
}

/*Nuevo Instructor Certificados*/
.areaInfoCertificate {
    background-color: #EEEEEE;
    resize: none;
    margin: 5px 10px;
}
.inputPdf {
    margin: 0px 5px 20px 10px;
    font-size: 16px;
    text-align: center;
    width: 163px;
}

/*Excepciones y alertas*/
.alertaLogin {
    width: 700px;
    margin: auto;
    margin-bottom: 40px;
}
.alertaLoginText {
    padding: 20px 0px 0px 0px;
    margin: 0px;
}