/*Fondo*/
.body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center
}

/*Header*/
#tableHeader{
    width: 100%;
}
.tdLados {
    width: 400px;
}


/*Footer*/
footer {
    text-align: center;
}

/*Logo*/
#logo {
    width: 90px;
    height: 90px;
    float: left;
    left: 5px;
}

/*Titulo TooPots*/
#toopots, #toopots:hover {
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}

/*Info usuario conectado*/
.loggeduser {
     text-align: center;
     color: gray;
     float: right;
     right: 5px;
}

.iconoLog, .iconoLog:hover {
    color: black;
    text-decoration: none;
}

/*Centrar*/
.center {
    text-align: center;
}

/*Pie de pagina*/
footer {
    position: relative;
    bottom: 0;
}

/*Navigation bar*/
.navTable {
    width: 100%;
}
.navbar {
    background-color: #2D8E0B;
    border: 1px black solid;
}

/*Color blanco*/
.white, .white:hover  {
    color: white;
}

/*Color negro*/
.black, .black:hover {
    color: black;
}

/*Menu*/
.menu {
    vertical-align: top;
    padding: 30px;
    width: 22.5%;
    background-color: #CCCCCC;
    border: 1px black solid;
}
.enlaceMenu {
    padding: 40px 0px;
    color: black;
    text-align: center;
}
#contentTable {
    width: 100%;
    height: 700px;
}

/*Login*/
#loginTitle {
    font-size: 40px;
    font-weight: bold;
}
#loginArea {
    background-color: #cde2b1;
    border: 1px black solid;
    width: 500px;
    margin: auto;
}
#loginTable {
    margin: auto;
}
.loginInput {
    padding: 0px 10px;
    background-color: #C9DBB1;
}
.loginInput:focus {
    background-color: #B8CAA0;
}
.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #C9DBB1 inset !important;
}
.otherLogin, .otherLogin:hover {
    padding: 0px 50px;
    font-size: 15px;
    color: black;
}

/*Padding at right*/
.paddingRight {
    padding-right: 40px;
}

/*Padding at left*/
.paddingLeft {
    padding-left: 20px;
}

/*Table centered*/
.marginAuto {
    margin: auto;
}

/*Formularios*/
.input {
    height: 40px;
    background-color: #EEEEEE;
    margin: 0px 15px 20px 15px;
    border-style: solid;
    border: 0.5px solid black;
    padding: 0px 10px;
    font-size: 16px;
}
.input:focus {
    background-color: #DDDDDD;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #EEEEEE inset !important;
}
.inputLabel {
    text-align: left;
    font-size: 16px;
}
.inputLabelGrande {
    text-align: center;
    font-size: 32px;
}
.inputPequeño {
    width: 250px;
    text-align: left;
}
.inputDoble {
    width: 540px;
    text-align: left;
}
.inputTriple {
    width: 830px;
}
.inputAlto {
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputText {
    padding-top: 6px;
}
.inputPrice {
    background-color: #cde2b1;
}
.inputTextPagamentSi {
    text-align: center;
    color: green;
    font-size: 16px;
}
.inputTextPagamentNo {
    text-align: center;
    color: red;
    font-size: 16px;
}

/*Foto instructor*/
.profileFoto {
    width: 150px;
    height: 150px;
}
.profileFotoSpace {
    border: 1px black solid;
    margin: 0px 0px 5px 43px;
}

/*Fotos actividades*/
.activityFoto {
    width: 250px;
    height: 150px;
}
.activityFotoSpace {
    border: 1px black solid;
    margin: 0px 14px 5px 10px;
}

/*Tarifas*/
.labelTarifa {
    position: relative;
    float: right;
    margin-right: 20px;
}
.inputTarifa {
    width: 80px;
    margin: 0px;
    margin-bottom: 5px;
}

/*Listas*/
.table_bordered {
    margin: auto;
    border: 1px black solid;
    margin-bottom: 30px;
}
.tdListArriba {
    padding-top: 20px;
}
.tdListAbajo {
    padding-bottom: 20px;
}
.tdListIzquierda {
    padding-left: 20px;
}
.tdListBotones {
    padding-right: 20px;
}
.tdListTexto {
    width: 200px;
}
.tdListTextoName {
    width: 300px;
}
.tdListCentroArribaAbajo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tdListCentroArriba {
    padding-top: 10px;
}
.tdListCentroAbajo {
    padding-bottom: 10px;
}
.tdListCentroIzquierda {
    padding-left: 10px;
}
.tdListCentroDerecha {
    padding-right: 10px;
}
.tdListCentroDerechaIzquierda {
    padding-left: 10px;
    padding-right: 10px;
}
.listBoton {
    width: 150px;
}
.listCertificados {
    width: 300px;
    margin-top: 20px;
    overflow:scroll;
    height:150px;
}
.tdListActivityLevel {
    width: 100px;
}
.tdListTableActivity {
    width: 270px;
}
.tdListNombreTarifaCurt {
    text-align: right;
    width: 140px;
}
.tdListNombreTarifaLlarg {
    text-align: right;
    width: 230px;
}
.tdListPrecioTarifa {
    text-align: left;
    width: 60px;
}
.tdListTextoPrice {
    width: 200px;
}
.tdListTextoFecha {
    width: 350px;
}
.tdListCancelation {
    padding-right: 20px;
    width: 250px;
}
.tdBotonAddLista {
    width: 300px;
    padding-left: 50px;
}
.tableBotonAddLista {
    width: 100%;
}
.margin0 {
    margin: 0px;
}

/*Profile*/
.tdGrupos {
    padding: 0px 30px;
}
.profileCertificados {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    overflow:scroll;
}
.tdProfileTableActivity {
    width: 320px;
}
.tdProfileActivityLevel {
    width: 90px;
}
/*Request*/
.requestCertificados {
    width: 500px;
    height: 200px;
    margin-top: 20px;
    overflow:scroll;
}
.tdRequestTableActivity {
    width: 470px;
}
.tdRequestActivityLevel {
    width: 70px;
}

/*Assignar activitat*/
.tdAsignacio {
    width: 400px;
    font-size: 25px;
}
.selectAsignacio {
    width: 380px;
    height: 40px;
    background-color: #EEEEEE;
}

/*Homepage Admina*/
.bienvenidaGrande {
    font-weight: bold;
    font-size: 60px;
}
.bienvenidaPequeña {
    font-weight: bold;
    font-size: 50px;
    color: red;
    text-decoration: none;
}
.bienvenidaPequeña:hover {
    color: red;
    text-decoration: none;
}

/*Nuevo Instructor Certificados*/
.areaInfoCertificate {
    background-color: #EEEEEE;
    resize: none;
    margin: 5px 10px;
}
.inputPdf {
    margin: 0px 5px 20px 10px;
    font-size: 16px;
    text-align: center;
    width: 163px;
}

/*Excepciones y alertas*/
.alertaLogin {
    width: 700px;
    margin: auto;
    margin-bottom: 40px;
}
.alertaLoginText {
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

/*Validator*/
.needCorrection{
    background-color: #ff9387;
}
.needCorrection:focus {
    background-color: #D67A70;
}
.needCorrection:-webkit-autofill,
.needCorrection:-webkit-autofill:hover,
.needCorrection:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ff9387 inset !important;
}

/*Filtro*/
.filtroArea {
    margin: 40px auto 60px auto;
    width: 975px;
}

.filtro {
    height: 45px;
    background-color: #EEEEEE;
    color: black;
    border-radius: 0px;
    border: 1px black solid;
    padding: 0px 10px;
}
#filtroSelect {
    width: 130px;
    margin-right: 10px;
}
#filtroInput {
    width: 370px;
    margin-left: 10px;
}
#ordenSelect {
    width: 130px;
    margin-right: 60px;
    margin-left: 60px;
}
.botonFiltro {
    width: 150px;
}

/*Adjuntos*/
.inputAdjunto {
    width: 250px;
    font-size: 16px;
    margin: auto auto 20px auto;
}

/*Reserva*/
.tablaTarifas{
    border: 1px black solid;
    background-color: #EEEEEE;
}
.tdPaddingTop {
    padding-top: 20px;
}
.tdPaddingLeftRight {
    padding-left: 20px;
    padding-right: 20px;
}
.tdPaddingBottom {
    padding-bottom: 20px;
}
.tarifaName {
    text-align: left;
}
.activityFotoReserva {
    width: 400px;
    height: 240px;
}
.activityFotoReservaPequeño {
    width: 200px;
    height: 120px;
}
.tdActivityFotoReserva {
    vertical-align: top !important;
    padding-right: 30px;
    width: 35%px;
    padding-left: 50px;
}
.tdTarifasReserva {
    width: 40%;
}
.divInicioTarifas {
    background-color: #cde2b1;
    padding: 20px 0px;
    width: 100%;
    vertical-align: top;
}
.tdRelleno {
    width: 25%;
}
.actividadNameReserva {
    text-align: left;
}
.tablaNumeroPersonas {
    margin-left: 35%;
}
.divResumenReserva {
    border: 1px black solid;
    padding: 30px;
    background-color: #cde2b1;
    display: inline-block;
}
.tdSummary {
    padding-left: 30px;
    padding-right: 30px;
}
.tdSummaryTitle {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

/*Content alineado arriba*/
.bodyVerticalTop {
    vertical-align: top;
}

/*Content alineado en medio*/
.verticalAlignAdminHome {
    padding-top: 18%;
}
.verticalAlignLogin {
     padding-top: 7.5%;
 }

 /*Lista de actividades*/
.botonListaActividades {
    width: 200px;
    margin: 0px 20px;
}

/*Ver actividad*/
.tdNombreActividad {
    width: 400px;
    padding-left: 10px;
}
.divViewActivity {
    width: 270px;
}
.divViewActivityBig {
    width: 812px;
}
.paddingLeft5 {
    padding-left: 5px;
}
.inputDescripcionActividad {
    width: 530px;
    text-align: left;
}
.tdBotonActividad {
    width: 406px;
}
.tablaTarifasActividad {
    border: 1px black solid;
    width: 812px;
}
.carousel.slide {
    width: 250px !important;
    margin-left: 15px;
}

/*Update instructor*/
.tdUpdateInstructorTableActivity {
    width: 650px;
}
.updateCertificados {
    width: 700px;
    height: 200px;
    margin-top: 20px;
    overflow:scroll;
}

.tdBotonBorrarCertificado {
    padding-left: 20px;
    width: 100px;
}