<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <meta charset="UTF-8" />
        <title>TooPots</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>TooPots</h1>
        <br>
        <a href="activityType/list">Tipus d'activitats PROBES</a><br>
        <a href="activityType/add">Afegir tipus d'activitats PROBES</a><br>
        <a href="activity/list">Activitats PROBES</a><br>
        <br>
        <a href="instructor/list">Instructors PROBES</a><br>
        <a href="customer/list">Clients PROBES</a><br>
        <br>
        <a href="reservation/list">Reserves PROBES</a><br>
        <a href="certification/list">Certificats PROBES</a><br>
        <br>
        <a href="login">Login</a><br>
    </body>
</html>