<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <meta charset="UTF-8" />
        <title>TooPots</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>TooPots</h1>
        <ul>
            <li><a href="activityType/list">Gestió de tipus d'activitats</a></li>
            <li><a href="activity/list">Gestió d'activitats</a></li>
            <li><a href="instructor/list">Gestió d'instructors</a></li>
            <li><a href="customer/list">Gestió de clients</a></li>
            <li><a href="reservation/list">Gestió de reserves</a></li>
            <li><a href="certification/list">Gestió de certificats</a></li>
        </ul>
    </body>
</html>