<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <div th:if="${conexionRefused}">
            <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 style="display: block;" aria-modal="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modalTitulo">No és pot iniciar sessió</h5>
                            <a th:href="@{/login}" class="modalBotonCerrar"><i class="icon-remove"></i></a>
                        </div>
                        <div class="modalBody">
                            <label th:if="${conexionRefusedReason == 'BadPassword'}" class="modalUsuario">Nom d'usuari o contrasenya incorrecte</label>
                            <label th:if="${conexionRefusedReason == 'Request'}" class="modalRequest">La sol·licitud encara no s'ha avaluat</label>
                            <label th:if="${conexionRefusedReason == 'Rejected'}" class="modalRejected">La sol·licitud s'ha rebutjat</label>
                            <label th:if="${conexionRefusedReason == 'Fired'}" class="modalRejected">T'has donat de baixa voluntàriament o has sigut donat de baixa per l'administrador</label>
                            <label th:if="${conexionRefusedReason == 'Deactivated'}" class="modalRejected">Compte desactivat. Vols reactivar-lo?</label>
                        </div>
                        <div th:if="${conexionRefusedReason == 'Deactivated'}" class="modal-footer">
                            <div class="modalBotones">
                                <a th:href="@{/customer/reactivate/{id}(id=${userId})}" class="btn btn-success modalBotonSiNo">Si</a>
                                <a th:href="@{/login}" class="btn btn-danger modalBotonSiNo">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
        <div class="center contentPaddingLogin">
            <div id="loginArea">
                <br><br>
                <h1 id="loginTitle">Login</h1><br><br>
                <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                    <table id="loginTable">
                        <tr>
                            <td class="paddingRight">
                                Nom d'usuari
                            </td>
                            <td>
                                <input class="loginInput" th:errorclass="needCorrection"  type="text" th:field="*{username}" maxlength="30"/>
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td class="paddingRight">
                                Contrasenya
                            </td>
                            <td>
                                <input class="loginInput" th:errorclass="needCorrection" type="password" th:field="*{passwd}" maxlength="50"/>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <input class="btn btn-success" type="submit" value="Accedir" />
                    <br><br>

                </form>
                <a class="otherLogin" href="/customer/add">Registrar-se client</a>
                <a class="otherLogin" href="/instructor/add">Sol·licitud monitor</a><br><br>
            </div>
        </div>
    </body>
</html>