<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <br>
        <div class="center verticalAlignLogin">
            <div th:if="${#strings.equals(name,'LoginException')}">
                <div class="alertaLogin alert-info">
                    <h2 class="alertaLoginText" th:text="${message}"></h2><br>
                </div>
            </div>
            <div id="loginArea">
                <br><br>
                <h1 id="loginTitle">Login</h1><br><br>
                <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                    <table id="loginTable">
                        <tr>
                            <td class="paddingRight">
                                Nom d'usuari
                            </td>
                            <td>
                                <input class="loginInput" th:errorclass="needCorrection"  type="text" th:field="*{username}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td class="paddingRight">
                                Contrasenya
                            </td>
                            <td>
                                <input class="loginInput" th:errorclass="needCorrection" type="password" th:field="*{passwd}"/>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <input class="btn btn-success" type="submit" value="Accedir" />
                    <br><br>

                </form>
                <a class="otherLogin" href="/customer/add">Registrar-se client</a>
                <a class="otherLogin" href="/instructor/add">Sol·licitud monitor</a><br><br>
            </div>
        </div>
    </body>
</html>