<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Registrar-se</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body layout:fragment="content">
        <h1>Nou Client</h1><br>
        <form action="#" th:action="@{/customer/add}" method="post">
            <table class="marginAuto">
                <tr>
                    <td colspan="2"><label class="inputLabel inputDoble">Nom Complet</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="input inputDoble" type="text" th:field="${user.name}" maxlength="40"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">NIF</label></td>
                    <td><label class="inputLabel inputPequeño">Correo</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="text" th:field="${user.nif}" maxlength="12"/></td>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="email" th:field="${user.mail}" maxlength="40"/></td>
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Sexe</label></td>
                    <td><label class="inputLabel inputPequeño">Data de naixement</label></td>
                </tr>
                <tr>
                    <td>
                        <select class="input inputPequeño"  th:errorclass="needCorrection" th:field="${customer.sex}">
                            <option value=""></option>
                            <option value="Masculi">Masculi</option>
                            <option value="Femeni">Femeni</option>
                        </select>
                    </td>
                    <td><input class="input inputPequeño" th:errorclass="needCorrection" type="text" th:field="${customer.birthDate}"/></td>
                    <!--<td><input class="input inputPequeño" type="date" th:field="${#temporals.format(customer.birthDate,'dd/MMMM/yyyy')}"/></td>-->
                </tr>
                <tr>
                    <td><label class="inputLabel inputPequeño">Nom d'usuari</label></td>
                    <td><label class="inputLabel inputPequeño">Contrasenya</label></td>
                </tr>
                <tr>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="text" th:field="${user.username}" maxlength="30"/></td>
                    <td><input class="input inputPequeño"  th:errorclass="needCorrection" type="password" th:field="${user.passwd}" maxlength="50"/></td>
                </tr>
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Registrar-se" />
        </form>
    </body>
</html>