<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrar-se</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <h1>Registrar-se</h1>
        <form action="#" th:action="@{/customer/add}" method="post">
            <table>
                <tr>
                    <td><label>Nom</label></td>
                    <td><input type="text" th:field="${user.name}" /></td>
                </tr>
                <tr>
                    <td><label>Nif</label></td>
                    <td><input type="text" th:field="${user.nif}" /></td>
                </tr>
                <tr>
                    <td><label>Mail</label></td>
                    <td><input type="text" th:field="${user.mail}" /></td>
                </tr>
                <tr>
                    <td><label>Sexe</label></td>
                    <td><input type="text" th:field="${customer.sex}" /></td>
                </tr>
                <tr>
                    <td><label>Data de naixement</label></td>
                    <td><input type="text" th:field="${customer.birthDate}" /></td>
                </tr>
                <tr>
                    <td><label>Nom d'usuari</label></td>
                    <td><input type="text" th:field="${user.username}" /></td>
                </tr>
                <tr>
                    <td><label>Contrasenya</label></td>
                    <td><input type="password" th:field="${user.passwd}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Afegeix Client" /></td>
                </tr>
            </table>
            <a href="/customer/list">Tornar</a>
        </form>
    </body>
</html>