<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Client</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <h2>Nou Client</h2>
        <form action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
            <table>
                <tr>
                    <td><label>Nif</label></td>
                    <td><input type="text" th:field="*{nif}" /></td>
                </tr>
                <tr>
                    <td><label>Nom</label></td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td><label>Mail</label></td>
                    <td><input type="text" th:field="*{mail}" /></td>
                </tr>
                <tr>
                    <td><label>Sexe</label></td>
                    <td><input type="text" th:field="*{sex}" /></td>
                </tr>
                <tr>
                    <td><label>Data de naixement</label></td>
                    <td><input type="text" th:field="*{birthDate}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Afegeix Client" /></td>
                </tr>
            </table>
            <a href="/customer/list">Tornar</a>
        </form>
    </body>
</html>