<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Clients</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Llista de Clients</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <!--<th>Nif</th>-->
        <!--<th>Mail</th>-->
        <!--<th>Photo</th>-->
        <!--<th>Residencia</th>-->
        <!--<th>Numero de compte bancari</th>-->
        <!--<th>Data de registre</th>-->
        <!--<th>Estat</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.name}"></td>
        <!--<td th:text="${user.nif}"></td>-->
        <!--<td th:text="${instructor.mail}"></td>-->
        <!--<td th:text="${instructor.photo}"></td>-->
        <!--<td th:text="${instructor.residence}"></td>-->
        <!--<td th:text="${instructor.accountNumber}"></td>-->
        <!--<td th:text="${{instructor.registerDate}}"></td>-->
        <!--<td th:text="${instructor.state}"></td>-->
        <td><a th:href="@{/customer/update/{id}(id=${user.id})}">Edita</a>
        </td>
        <td><a th:href="@{/user/updatePasswd/{id}(id=${user.id})}">Edita Contrasenya</a>
        </td>
        <td><a th:href="@{/customer/delete/{id}(id=${user.id})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix un client</a><br>
<a href="/">Tornar</a>
</body>
</html>