<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Clients</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Llista de Clients</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nif</th>
        <th>Nom</th>
        <th>Mail</th>
        <th>Sexe</th>
        <th>Data de naixement</th>
        <th>Data de creació</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.nif}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.mail}"></td>
        <td th:text="${customer.sex}"></td>
        <td th:text="${{customer.birthDate}}"></td>
        <td th:text="${{customer.registerDate}}"></td>
        <td><a th:href="@{/customer/update/{id}(id=${customer.id})}">Edita</a>
        </td>
        <td><a th:href="@{/customer/delete/{id}(id=${customer.id})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix un client</a><br>
<a href="/">Tornar</a>
</body>
</html>