<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Reserves client</title>
        <meta charset="UTF-8" />
    </head>
    <body layout:fragment="content">
        <table class="marginAuto">
            <tr>
                <td><a th:href="@{/customer/listReservations/all}" class="btn btn-outline-success botonListaActividades" role="button">Totes les reserves</a></td>
                <td><a th:href="@{/customer/listReservations/future}" class="btn btn-outline-info botonListaActividades" role="button">Reserves futures</a></td>
                <td><a th:href="@{/customer/listReservations/past}" class="btn btn-outline-secondary botonListaActividades" role="button">Reserves passades</a></td>
                <td><a th:href="@{/customer/listReservations/canceled}" class="btn btn-outline-danger botonListaActividades" role="button">Activitats cancel·lades</a></td>
            </tr>
        </table>
        <br>
        <h1 th:if="${estat} == all">Llista de totes les reserves</h1>
        <h1 th:if="${estat} == future">Llista de les reserves futures</h1>
        <h1 th:if="${estat} == past">Llista de les reserves passades</h1>
        <h1 th:if="${estat} == canceled">Llista de les reserves d'activitats cancel·lades</h1>
        <br>
        <div th:if="${#lists.isEmpty(activities)}">
            No s'ha fet ninguna reserva
        </div>
        <div th:unless="${#lists.isEmpty(activities)}">
            <table class="table_bordered" th:each="activity: ${#lists.sort(activities)}">
                <tr>
                    <td rowspan="4" class="tdListIzquierda tdListArriba tdListAbajo">
                        <div>
                            <div th:unless="*{activity.totalImages} == 1" id="miCarrusel" class="carousel carouselList slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li th:each="imatge,iterstat: ${imatges}"
                                        data-target="#miCarrusel"
                                        th:attr="data-slide-to=${iterstat.index}"
                                        th:class="${iterstat.index}== 0  ? 'active':''"></li>

                                </ol>
                                <div class="carousel-inner">
                                    <div th:each="imatge,iterstat: *{activity.images}"
                                         th:class="${iterstat.index}==0 ? 'carousel-item active':'carousel-item'">
                                        <img th:src="@{${imatge.photo}}" class="activityFoto">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#miCarrusel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#miCarrusel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                            <img th:if="*{activity.totalImages} == 1" th:src="@{*{activity.photoPrincipal}}" class="activityFoto">
                        </div>
                    </td>
                    <td colspan="2" class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName"><b th:text="${activity.name}"></b></td>
                    <td rowspan="4" class="tdListArriba tdListAbajo tdListBotones tdListIzquierda">
                        <a th:href="@{/customer/viewReservation/{id}(id=${activity.idReservation})}" class="btn btn-success listBoton" >Veure</a>
                    </td>
                </tr>
                <tr>
                    <td class="tdListCentroArriba tdListTexto">
                        <label th:text="${activity.place}"></label>
                    </td>
                    <td class="tdListCentroArriba tdListTexto">
                        <label th:text="${#temporals.format(activity.dates, 'dd MMMM YYYY')}"></label>
                    </td>
                </tr>
                <tr>
                    <td class="tdListCentroArriba tdListTexto">
                        <label th:text="${activity.activityTypeName}"></label>
                    </td>
                    <td class="tdListCentroArriba tdListTexto">
                        <label>Nivell </label>
                        <label th:text="${activity.activityTypeLevel}"></label>
                    </td>
                </tr>
                <tr>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                        <b>Preu total: </b>
                        <label th:text="${activity.reservationPriceTotal}"></label>
                        <label> €</label>
                    </td>
                    <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                        <b>Estat: </b>
                        <label th:text="${activity.state}"></label>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>