<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
    <head>
        <title>Veure Reserves</title>
        <meta charset="UTF-8" />
    </head>
    <body layout:fragment="content">
        <br><h1>Llista de reserves</h1><br>
        <table class="table_bordered" th:each="activity: ${activities}">
            <tr>
                <td rowspan="4" class="tdListIzquierda tdListArriba tdListAbajo">
                    <div class="activityFoto">
                        <img th:src="@{*{activity.photoPrincipal}}" class="activityFoto"/>
                    </div>
                </td>
                <td colspan="2" class="tdListCentroAbajo tdListCentroDerechaIzquierda tdListArriba tdListTextoName"><b th:text="${activity.name}"></b></td>
                <td rowspan="4" class="tdListArriba tdListAbajo tdListBotones tdListIzquierda">
                    <a th:href="@{/customer/viewReservation/{id}(id=${activity.id})}" class="btn btn-success listBoton" >Veure</a>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${activity.place}"></label>
                </td>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${#temporals.format(activity.dates, 'dd MMMM YYYY')}"></label>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListTexto">
                    <label th:text="${activity.activityTypeName}"></label>
                </td>
                <td class="tdListCentroArriba tdListTexto">
                    <label>Nivell </label>
                    <label th:text="${activity.activityTypeLevel}"></label>
                </td>
            </tr>
            <tr>
                <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                    <b>Preu total: </b>
                    <label th:text="${activity.reservationPriceTotal}"></label>
                    <label> €</label>
                </td>
                <td class="tdListCentroArriba tdListCentroDerechaIzquierda tdListAbajo tdListTexto">
                    <b>Estat: </b>
                    <label th:text="${activity.state}"></label>
                </td>
            </tr>
        </table>

    </body>
</html>