<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar certificat</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Editar certificat</h2>
<form action="#" th:action="@{/certification/update/{id}(id=${certification.id})}" th:object="${certification}" method="post">
    <table>
        <tr>
            <td><label>Nom certificat</label></td>
            <td><input type="text" th:field="*{certificate}" /></td>
        </tr>
        <tr>
            <td><label>Document adjunt</label></td>
            <td><input type="text" th:field="*{doc}" /></td>
        </tr>
        <tr>
            <td><label>Instructor</label></td>
            <td><input type="number" th:field="*{idInstructor}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar certificat" /></td>
        </tr>
    </table>
    <a href="/certification/list">Tornar</a>
</form>
</body>
</html>